@import '../variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
  background-color: $main-bg-color;
  color: $main-color;
  font-family: 'Roboto', sans-serif;
}


.app{
  .content{
    width: calc(100% - 260px);
    margin-left: 260px;
    padding-left: 25px;
  }
}